body {
  font-family: "Trebuchet MS", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  margin-left: 10em;
  margin-top: 2em;
  background: #f8e391;
}

th {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  padding: 3px;
}

th:first-child,
td:first-child {
  text-align: left;
  background-color: #15362f;
  color: azure;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  cursor: pointer;
}

.back-button {
  background-color: #9ad4e4;
}

.save-button {
  background-color: #87e49a;
}

.delete-button {
  background-color: #f2805c;
}

.add-button {
  background-color: #6b957c;
  color: whitesmoke;
}

#product-table {
  margin-left: 9.5em;
  margin-top: 3em;
}

#order-id {
  font-size: large;
  margin-left: 3em;
}

.post-box {
  margin: 1em;
  margin-left: 4em;
  margin-top: 30px;
  font-size: small;
  margin-bottom: 25px;
}

.post-box {
  margin: 1em;
  margin-left: 4em;
  margin-top: 30px;
  font-size: small;
  margin-bottom: 25px;
}

.post-div {
  margin: 2em;
  margin-left: 4em;
}

.td-headers {
  background-color: #92c492;
  position: relative;
  color: black;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

tbody tr:hover {
  background: green;
  color: cornsilk;
}

button {
  cursor: pointer;
  font-size: small;
  margin: 5px;
  background-color: #f2805c;
}

#order-header {
  font-size: large;
  margin-left: 1ex;
}

#add-order {
  background-color: #6b957c;
  color: whitesmoke;
  margin-top: 1em;
  margin-left: 4.5em;
  margin-bottom: 0.5em;
}
